*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html{
    font-family: 'Montserrat', sans-serif;
  }
  section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container{
    width: 90%;
    max-width: 400px;
    background-color: rgb(43, 72, 104);
    border-radius: 8px;
    overflow: hidden;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
  .display{
    background-color: rgb(182, 182, 182);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
  }
  .upperDisplay{
    opacity: .4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
  }
  .btn-ac{
    grid-column: 1/3;
  }
  .buttons{
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  }
  .button{
    border: .5px solid rgba(231, 142, 142, 0.137);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
  }
  .button:hover{
    background-color: rgb(30, 43, 46);
  }
  .btn-0{
    grid-column: 1/3;
  }

  